!!! 5
html
  head
    block head
      link(rel='stylesheet', href='/lib/bootstrap-2.0.2/css/bootstrap.css')
      link(rel='stylesheet', href='/lib/jquery-ui-1.8.18/css/ui-lightness/jquery-ui-1.8.18.custom.css')
      link(rel='stylesheet', href='/stylesheets/style-1.0.css')
      script(src='/lib/jquery-ui-1.8.18/js/jquery-ui-1.8.18.custom.min.js')
      script(src='/lib/jquery-ui-1.8.18/js/jquery-1.7.1.min.js')
  body
    #site-header.well
      h1 WuFu
      h3.margin-left20px Just spread ideas
    .container
      .content
        block content
