
body {
  background-color: #5BB75B;
}

.color-white {color: white;}

.margin-top5px {margin-top: 5px;}
.margin-top10px {margin-top: 10px;}
.margin-top15px {margin-top: 15px;}
.margin-top20px {margin-top: 20px;}
.margin-top25px {margin-top: 25px;}
.margin-top30px {margin-top: 30px;}

.margin-right5px {margin-right: 5px;}
.margin-right10px {margin-right: 10px;}
.margin-right15px {margin-right: 15px;}
.margin-right20px {margin-right: 20px;}
.margin-right25px {margin-right: 25px;}
.margin-right30px {margin-right: 30px;}

.margin-left5px {margin-left: 5px;}
.margin-left10px {margin-left: 10px;}
.margin-left15px {margin-left: 15px;}
.margin-left20px {margin-left: 20px;}
.margin-left25px {margin-left: 25px;}
.margin-left30px {margin-left: 30px;}